.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.intro-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-text {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    user-select: none;
    color: white;
    text-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.scroll-indicator {
    position: absolute;
    bottom: 30px;
    animation: float 3s ease-in-out infinite;
    font-size: 2rem;
    opacity: 1;
    user-select: none;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
    z-index: -1; /* 展开菜单还会显示，所以降低 z-index */
    color: white;
    text-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

body.blur-disabled {
    & .scroll-indicator {
        visibility: hidden;
        opacity: 0;
    }
}

html.darkmode {
    & .scroll-indicator {
        color: var(--title-color-dark);
    }

    & .intro-text {
        color: var(--title-color-dark);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
    }

    50% {
        transform: translateY(-20px);
        animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
    }
}