button {
    margin: 4px;
    color: #111;
    background-color: white;
    border-style: solid;
    border-color: #555555aa;
    border-width: 1.5px;
    border-radius: 6px;
    padding: 9px 1.5rem;
    font-size: 0.9em;
    min-height: 42.8px;
    transition: box-shadow .4s ease, background-color .4s ease;
}

button:hover {
    border-color: var(--m-color);
    background-color: var(--m-color-20t);
}