:root {
    --m-color: #fba414;
    --btn-color-a: #eb7410;
    --btn-color-b: #fb9010;
    --m-color-20t: #fba41420;
    --m-color-40t: #fba41440;
    --m-color-a0t: #fba414a0;
    --background-color: #5f5f5f;
    --background-color-dark: #353535;
    --card-background: rgba(255, 255, 255, 90%);
    --card-background-dark: rgba(53, 53, 53, 90%);
    --title-color: #333;
    --title-color-dark: #ddd;
    --nav-color: #ddd;
    --nav-color-dark: #ddd;
}