@import url('./css/colors.css');
@import url('./css/button.css');
@import url('./css/theme.css');
@import url('./css/custom.css');
@import url('./css/banner.css');
@import url('./css/background.css');

body {
    font-family: 'Source Sans 3', 'Noto Sans SC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.badges img {
    display: inline-block;
    height: 28px;
}

.gap {
    padding-bottom: 1%;
}